<!-- Clients Aside -->
<aside class="clients">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img src="img/fbk.png" class="img-responsive img-centered" alt="Fondazione Bruno Kessler">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img src="https://www.deda.group/flex/TemplatesUSR/assets/CORPORATE/img/loghi/logo_corporate_head.svg" class="img-responsive img-centered" alt="Dedagroup S.p.A.">
                </a>
            </div>
        </div>
    </div>
</aside>