<!-- Partners Aside -->
<aside class="partners">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Partners</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <a href="#">
                    <img src="img/fbk.png" class="img-responsive img-centered" alt="Fondazione Bruno Kessler">
                </a>
            </div>
            <div class="col-md-6 col-sm-6">
                <a href="#">
                    <img src="https://www.deda.group/flex/TemplatesUSR/assets/CORPORATE/img/loghi/logo_corporate_head.svg" class="img-responsive img-centered" width="240" alt="Dedagroup S.p.A.">
                </a>
            </div>
        </div>
    </div>
</aside>